.btn {
  margin: 0 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
  vertical-align: middle;
  font-weight: bold;
}

.btn.text {
  border: 0px solid transparent;
  background-color: transparent;
  color: rgb(0, 98, 146);
}
.btn.text:hover {
  background-color: #eee;
}

.btn.contained {
  border: 0px solid rgb(0, 153, 229);
  color: white;
  background-color: rgb(0, 153, 229);
}

.btn.outlined {
  border: 1px solid rgb(0, 153, 229);
  color: rgb(0, 153, 229);
  background-color: transparent;
}

.small {
  padding: 0.5em;
}

.medium {
  padding: 1em;
}

.large {
  padding: 1.2em;
}
