.signers {
  padding: 1.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 1em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

thead {
  background-color: #eee;
}

th,
td {
  text-align: left;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
  padding: 1em 0.5em;
}

td {
  padding: 0.5em;
}

.icon-btn {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 4px;
}
