.alert {
  color: #fff;
  border-radius: 0.5em;
  padding: 1em;
  position: absolute;
  bottom: 1em;
  animation: slide-right 300ms ease-out forwards;
}

.alert-hide {
  color: #fff;
  border-radius: 0.5em;
  padding: 1em;
  position: absolute;
  bottom: 1em;
  animation: slide-left 300ms ease-out forwards;
}

.success {
  background-color: rgb(39, 182, 0);
}

.error {
  background-color: rgb(184, 52, 52);
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-3rem);
  }
}
