.form {
  margin: 0;
  padding: 0;
}
.form header {
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 1em;
  margin: 0;
}

.form .container {
  padding: 1em;
}

.form footer {
  border-top: 1px solid rgb(211, 211, 211);
  padding: 1em;
  margin: 0;
  text-align: right;
}

.form h3 {
  margin: 0;
  padding: 0;
}

.form .note {
  font-style: italic;
}

.form .checkbox {
  margin-top: 1em;
}

.mask {
  padding: 0.8em;
  border: 1px solid #eee;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

.mask:focus {
  outline: 1px solid rgb(160, 199, 234);
}
