.inp {
  padding: 0.8em;
  border: 1px solid #eee;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

.inp:focus {
  outline: 1px solid rgb(160, 199, 234);
}

.inp-error {
  padding: 0.8em;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(241, 69, 69);
  outline: 1px solid rgb(241, 69, 69);
}

.error-message {
  margin-top: 0.5em;
  color: rgb(241, 69, 69);
  font-size: 12px;
  font-style: italic;
}

.inpWrapper {
  width: 100%;
}
